# Lab Assignment 6
#### This Lab task is to completed individually, Please Add your Name and ID Below, please comment your code thoroughly and name your variables wisely. (Grade out of 23, 3 marks for commented organized code.)
- Name: RIDDHI HINDOCHA
- ID:8978659

## Question 1- DATA INTEGRATION:  (5)
Check the files inside microbiome folder, (MID1, MID2, ... , MID9.xls files), you need to combine those files into single dataframe.<br>
Then You will need to add to this dataframe the relevant metadata information from metadata.csv <br>
Each folder represents information from different bacteria, MID1, MID2, ...
<br>
__Inspect the files before answering the question__

In [50]:
import pandas as pd
import os

def read_microbiome_files(folder_path):
    dfs = []

    for file_name in os.listdir(folder_path):
        if file_name.endswith(".xls"):
            file_path = os.path.join(folder_path, file_name)
            df = pd.read_excel(file_path)

            mid_number = file_name.split(".")[0]
            df['BARCODE'] = mid_number
            dfs.append(df)

    return pd.concat(dfs)

def read_metadata_file(folder_path, metadata_filename="metadata.csv"):
    metadata_path = os.path.join(folder_path, metadata_filename)
    return pd.read_csv(metadata_path)

def merge_microbiome_metadata(microbiome_df, metadata_df, merge_column='BARCODE'):
    if merge_column in microbiome_df.columns and merge_column in metadata_df.columns:
        return pd.merge(microbiome_df, metadata_df, on=merge_column)
    else:
        print(f"{merge_column} column not found.")
        return None

if __name__ == "__main__":
    microbiome_folder = os.path.join(os.getcwd(), 'data', 'microbiome')

    # Read microbiome files
    microbiome_df = read_microbiome_files(microbiome_folder)

    # Read metadata file
    metadata_df = read_metadata_file(microbiome_folder)

    # Merge microbiome_df with metadata_df using the 'BARCODE' column as the key
    merged_df = merge_microbiome_metadata(microbiome_df, metadata_df)

    if merged_df is not None:
        print(merged_df)

     BARCODE GROUP_x SAMPLE_x
0       MID1     NaN      NaN  \
1       MID1     NaN      NaN
2       MID1     NaN      NaN
3       MID1     NaN      NaN
4       MID1     NaN      NaN
...      ...     ...      ...
2382    MID9     NaN      NaN
2383    MID9     NaN      NaN
2384    MID9     NaN      NaN
2385    MID9     NaN      NaN
2386    MID9     NaN      NaN

     Archaea "Crenarchaeota" Thermoprotei Desulfurococcales Desulfurococcaceae Ignisphaera
0     Archaea "Crenarchaeota" Thermoprotei Desulfuro...                                     \
1     Archaea "Crenarchaeota" Thermoprotei Sulfoloba...
2     Archaea "Crenarchaeota" Thermoprotei Thermopro...
3     Archaea "Euryarchaeota" "Methanomicrobia" Meth...
4     Archaea "Euryarchaeota" "Methanomicrobia" Meth...
...                                                 ...
2382                                                NaN
2383                                                NaN
2384                                                NaN
2385                                                NaN
2386                                                NaN

        7
0     2.0  \
1     3.0
2     3.0
3     7.0
4     1.0
...   ...
2382  NaN
2383  NaN
2384  NaN
2385  NaN
2386  NaN

     Archaea "Crenarchaeota" Thermoprotei Acidilobales Acidilobaceae Acidilobus
0                                                   NaN                          \
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
2382                                                NaN
2383                                                NaN
2384                                                NaN
2385                                                NaN
2386                                                NaN

       2     1   5
0    NaN   NaN NaN  \
1    NaN   NaN NaN
2    NaN   NaN NaN
3    NaN   NaN NaN
4    NaN   NaN NaN
...   ..   ...  ..
2382 NaN  43.0 NaN
2383 NaN  16.0 NaN
2384 NaN   1.0 NaN
2385 NaN   1.0 NaN
2386 NaN  10.0 NaN

     Archaea "Crenarchaeota" Thermoprotei Acidilobales Caldisphaeraceae Caldisphaera
0                                                   NaN                               \
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
2382  Bacteria "Thermotogae" Thermotogae Thermotogal...
2383  Bacteria "Thermotogae" Thermotogae Thermotogal...
2384  Bacteria "Verrucomicrobia" Opitutae Opitutales...
2385  Bacteria Cyanobacteria Cyanobacteria  Chloropl...
2386  Bacteria Cyanobacteria Cyanobacteria  Chloropl...

     Archaea "Crenarchaeota" Thermoprotei Sulfolobales Sulfolobaceae Stygiolobus
0                                                   NaN                           \
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
2382                                                NaN
2383                                                NaN
2384                                                NaN
2385                                                NaN
2386                                                NaN

                 GROUP_y SAMPLE_y
0     EXTRACTION CONTROL      NaN
1     EXTRACTION CONTROL      NaN
2     EXTRACTION CONTROL      NaN
3     EXTRACTION CONTROL      NaN
4     EXTRACTION CONTROL      NaN
...                  ...      ...
2382           Control 2    stool
2383           Control 2    stool
2384           Control 2    stool
2385           Control 2    stool
2386           Control 2    stool

[2387 rows x 13 columns]

In [51]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\riddhi\downloads\mycscn10_lab\mycscn80\venv\cscn8010_classic_ml\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

## Question 2- Feature Engineering - Attribute Correlation (15)
- Load the file income_data.csv, inspect the columns.
- Determine if race and education features have a statistical relationship. 
- Explain and conclude your findings (7 till here)
- Inspect the dataset carefully and create an Indicator Feature (0/1) --(3 marks here)
- Inspect the dataset carefully and create an Interaction Feature (Additional feature engineered from your dataset)-- (3 marks here)<br>
__The features you create must be resonable, please add an explanation to explain why did you chose those features__  (2)

In [52]:
import pandas as pd

# Specify the file path
file_path = 'C:/Users/Riddhi/Downloads/Myassignment/data/income_data.csv'

# Read the income dataset
df = pd.read_csv(file_path)

# Inspect the columns
print(df.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

### Determine if race and education features have a statistical relationship.

In [53]:
import pandas as pd
from scipy.stats import chi2_contingency

# Assuming you already have the dataframe 'df' with the relevant columns

# Create a contingency table of race and education
contingency_table = pd.crosstab(df['race'], df['education'])

# Convert the contingency table to a numpy array
observed = contingency_table.values

# Perform the Chi-squared test
chi2, p, dof, expected = chi2_contingency(observed)

# Results
print("Chi-square statistic:", chi2)
print("p-value:", p)

Chi-square statistic: 1040.6622432490267
p-value: 7.472985630264855e-179

### Explain and conclude your findings

Hypothesis: Determine whether the "race" and "education" attributes in the dataset are statistically connected.

Chi-squared Test for Independence: To study the association between two categorical variables, we employed the Chi-squared test, a common statistical approach.

Analysis of Findings:

1. Chi-square statistic: Determines how much the actual and expected frequencies in the contingency table differ from each other. Greater values indicate a more substantial discrepancy.
2. P-value: If the two variables were independent, the p-value would reflect the probability of finding the data. A lower p-value suggests that it is unlikely that the observed correlation is due to chance.

Findings:

The null hypothesis is rejected if the p-value is less than the chosen significance level, which is often 0.05, indicating a significant relationship between race and education.
If the p-value is greater than or equal to 0.05, the null hypothesis cannot be rejected because there is no significant relationship between race and education.


Summary:

If the p-value is less than 0.05, we conclude that the dataset contains a statistically significant link between race and education.
We draw the conclusion that there is insufficient data to demonstrate a significant link between race and education if the p-value is equal to or larger than 0.05.

Consideration:

The Chi-squared test has limitations that must be addressed, as do the assumptions that underpin it, such as the adequacy of the sample size and the observed independence.
Furthermore, whereas statistical significance indicates a link, it does not always imply necessity. The underlying processes behind any found relationships typically require more examination.

### Inspect the dataset carefully and create an Indicator Feature

In [54]:
import pandas as pd

# Assuming you already have the dataframe 'df' with the relevant column 'education'

# Conditions for the indicator feature
high_education_conditions = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])

# Create the indicator feature
df['HighEducation'] = high_education_conditions.astype(int)

# Display the first few rows of the dataframe with the new indicator feature
print(df.head())

   age  workclass  fnlwgt     education  educational-num      marital-status
0   25    Private  226802          11th                7       Never-married  \
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss
0  Machine-op-inspct    Own-child  Black    Male             0             0  \
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income  HighEducation
0              40  United-States  <=50K              0
1              50  United-States  <=50K              0
2              40  United-States   >50K              0
3              40  United-States   >50K              0
4              30  United-States  <=50K              0

### Inspect the dataset carefully and create an Interaction Feature (Additional feature engineered from your dataset)

In [55]:
import pandas as pd

# Assuming you already have the dataframe 'df' with the relevant columns 'education' and 'income'

# Education levels to numeric representation
education_mapping = {
    'Preschool': 1, '1st-4th': 2, '5th-6th': 3, '7th-8th': 4,
    '9th': 5, '10th': 6, '11th': 7, '12th': 8, 'HS-grad': 9,
    'Some-college': 10, 'Assoc-acdm': 11, 'Assoc-voc': 12,
    'Bachelors': 13, 'Masters': 14, 'Doctorate': 15
}

# Replace education levels with numeric representation
df['Education_Numeric'] = df['education'].replace(education_mapping)

# Convert income column to numeric type
df['income'] = pd.to_numeric(df['income'], errors='coerce')

# Create the interaction feature
df['Income_Education'] = df['Education_Numeric'] * df['income']

# Display the first few rows of the dataframe with the new interaction feature
print(df.head())

   age  workclass  fnlwgt     education  educational-num      marital-status
0   25    Private  226802          11th                7       Never-married  \
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss
0  Machine-op-inspct    Own-child  Black    Male             0             0  \
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country  income  HighEducation Education_Numeric
0              40  United-States     NaN              0                 7  \
1              50  United-States     NaN              0                 9
2              40  United-States     NaN              0                11
3              40  United-States     NaN              0                10
4              30  United-States     NaN              0                10

  Income_Education
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN

### The features you create must be resonable, please add an explanation to explain why did you chose those features

INCOME_EDUCATION: 
The interaction feature "Income_Education" allows us to better capture the fundamental linkages in the data by capturing the combined influence of income and education on the outcome of interest.


1. Relevance: It is well acknowledged that money and education are essential socioeconomic variables that influence a variety of outcomes, including job status, life satisfaction, and even health effects. Combining these two characteristics into an interaction feature allows us to capture potential synergistic effects.

2. Theoretical Justification: It appears reasonable to assume that income and education will interact. Higher education levels are typically linked to increased earning potential and improved job possibilities. It is probable that there is a nonlinear relationship between income and education. For example, the impact of education on income varies depending on a number of factors, including the specific subject of study and educational attainment level.

3. Model Performance: By capturing potential non-linear correlations or interactions between predictors, interaction features may improve model prediction. We provide the model with additional data that would not be gained by each feature alone by merging income and education into an interaction feature.

4. Interpretability: "Income_Education" is an understandable and intuitive interaction element. It is the outcome of multiplying income by the quantitative representation of education to determine one's level of education. lesser values for this attribute indicate lesser income, lower levels of education, or both. Higher values of this trait indicate higher levels of income and education.